@function adjust-text-color($color, $type: 'primary') {
  @if ($type == 'secondary') {
    @if (lightness($color) > 75) {
      @return $text-color-secondary;
    } @else {
      @return $text-color-secondary-inverse;
    }
  } @elseif ($type == 'hint') {
    @if (lightness($color) > 75) {
      @return $text-color-hint;
    } @else {
      @return $text-color-hint-inverse;
    }
  } @else {
    @if (lightness($color) > 75) {
      @return $text-color-primary;
    } @else {
      @return $text-color-primary-inverse;
    }
  }
}

@function adjust-divider-color($color) {
  @if (lightness($color) > 75) {
    @return $divider-color;
  } @else {
    @return $divider-color-inverse;
  }
}

@function adjust-nav-btn-color($color) {
  @if (lightness($color) > 75) {
    @return $brand-primary;
  } @else {
    @return $text-color-primary-inverse;
  }
}

@function adjust-tab-text-color($color, $type: 'default') {
  @if ($type == 'selected') {
    @if (lightness($color) > 75) {
      @return $brand-primary;
    } @else {
      @return $text-color-primary-inverse;
    }
  } @else {
    @if (lightness($color) > 75) {
      @return $text-color-secondary;
    } @else {
      @return $text-color-secondary-inverse;
    }
  }
}

// @function nav-btn-hover-adjustment($color) {
//   @if (lightness($color) > 75) {
//     @return $nav-btn-hover-bg-dark;
//   } @else {
//     @return $nav-btn-hover-bg-light;
//   }
// }

@function get-text-color($color, $type:normal) {
  @if($type == normal) {
    @if (lightness($color) > $color-adjustment-intensity) {
      @return $text-color-primary;
    } @else {
      @return $text-color-primary-inverse;
    }
  } @elseif($type == secondary) {
    @if (lightness($color) > $color-adjustment-intensity) {
      @return $text-color-secondary;
    } @else {
      @return $text-color-secondary-inverse;
    }
  }
}

@function get-divider-color($color) {
  @if (lightness($color) > $color-adjustment-intensity) {
    @return $divider-dark;
  } @else {
    @return $divider-light;
  }
}

@function mod-color($color, $intenstiy) {
  @if (lightness($color) > $color-adjustment-intensity) {
    @return darken($color, $intenstiy);
  } @else {
    @return lighten($color, $intenstiy);
  }
}

@function get-nav-text-color($color, $status:inactive) {
  @if($status == inactive) {
    @if (lightness($color) > $color-adjustment-intensity) {
      @return $text-color-secondary;
    } @else {
      @return $text-color-secondary-inverse;
    }
  } @else {
    @return get-text-color($color);
  }
}
