@function get-text-color($color, $type:normal) {
  @if($type == normal) {
    @if (lightness($color) > $color-adjustment-intensity) {
      @return $text-color-primary;
    } @else {
      @return $text-color-primary-inverse;
    }
  } @elseif($type == secondary) {
    @if (lightness($color) > $color-adjustment-intensity) {
      @return $text-color-secondary;
    } @else {
      @return $text-color-secondary-inverse;
    }
  }
}

@function get-divider-color($color) {
  @if (lightness($color) > $color-adjustment-intensity) {
    @return $divider-dark;
  } @else {
    @return $divider-light;
  }
}

@function mod-color($color, $intenstiy) {
  @if (lightness($color) > $color-adjustment-intensity) {
    @return darken($color, $intenstiy);
  } @else {
    @return lighten($color, $intenstiy);
  }
}

@function get-nav-text-color($color, $status:inactive) {
  @if($status == inactive) {
    @if (lightness($color) > $color-adjustment-intensity) {
      @return $text-color-secondary;
    } @else {
      @return $text-color-secondary-inverse;
    }
  } @else {
    @return get-text-color($color);
  }
}
