@import "components/*";
@import "pages/*";
@import "layouts/*";

// Extras
.text-center { text-align: center; }
.text-left   { text-align: left;   }
.text-right  { text-align: right;  }

.pull-left { float: left; }
.pull-right { float: right; }

.uppercase  { text-transform: uppercase;  }
.lowercase  { text-transform: lowercase;  }
.capitalize { text-transform: capitalize; }

.wrap-text {
  white-space: normal;
  word-break: break-word;
}

html { height: 100%; }
body { min-height: 100%; }
