$banner-height: 184px;

body.logged_in {
  display: flex;
  width: 100%;
  padding-bottom: 5 * $offset-base;
  overflow-x: hidden;
  overflow-y: scroll;
  background: $body-bg;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: $navbar-height;
    background: $navbar-bg;
    content: '';
  }

  &.index {
    @include index-page;
  }

  &.show {
    @include show-page;
  }

  &.new,
  &.create,
  &.update,
  &.edit {
    @include edit-page;
  }

  &.sidebar-toggle {
    #header {
      @include box-shadow($header-shadow);
      @include transform(translateX(0%));
    }
  }

  &.batch-enabled {
    &::before,
    &::after {
      background: $batch-bar-bg !important;
    }

    #title_bar { display: none; }

    #batch_bar {
      @include transform(translateY(0%));
    }
  }


  &:not(.has_tabs) {
    &.scrolled {
      #title_bar {
        @include box-shadow($titlebar-shadow);
      }
    }
  }

  &.has_tabs {
    &::before {
      height: $banner-height;
    }

    &::after {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      display: none;
      height: 121px;
      background: $brand-primary;
      content: '';
    }

    #wrapper {
      padding-top: calc(#{$banner-height} - #{$tab-height} - 3 * #{$offset-base});
    }

    #main_content > .tabs > .nav-tabs {
      justify-content: center;
      background: $panel-bg;
    }

    &.scrolled {
      &::after {
        display: block;
        @include box-shadow($titlebar-shadow);
      }

      #main_content {
        .table_tools,
        & > .tabs > .nav-tabs {
          position: fixed;
          top: calc(121px - #{$tab-height});
          width: 100%;
          max-width: 800px;
          background: $panel-bg;
        }
      }
    }
  }

  #float_actions,
  .mdi-float-actions {
    @include float-actions-constructor;
  }

  #hidden_content .hidden_section {
    display: none;
  }

  #wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    padding-top: $titlebar-height;
    box-sizing: border-box;

    @include transition(all 0.2s linear);
  }

  #app_header {
    @include app-header-constructor;
  }

  #header {
    z-index: 1200;
  }

  #batch_bar,
  #title_bar {
    z-index: 1100;
  }

  #search-filter {
    z-index: 2400;
  }

  #active_admin_content {
    position: relative;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3 * $offset;
    padding-bottom: 100px;

    .table_tools {
      z-index: 100;
    }
  }

  #main_content_wrapper {
    display: flex;
    flex: 1 $aside-width;
    justify-content: center;
    max-width: $content-max-width;
    min-width: 0;
  }

  #sidebar {
    display: flex;
    flex-direction: column;
    width: $aside-width;
    padding: 1.5 * $offset;

    @include aside-constructor;
  }

  #main_content {
    width: 100%;
    margin: 0 auto;
  }
}
