$logo-size: 80px;
$banner-height: 278px;

body.logged_out {
  display: block;
  min-height: 100vh;
  padding: 0;
  padding-top: calc(#{$banner-height} - 100px);
  padding-bottom: 5 * $offset-base;
  background-color: $body-bg;
  box-sizing: border-box;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: $banner-height;
    background: $brand-primary;
    content: '';
  }

  #wrapper,
  #content_wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  #active_admin_content {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 450px;
  }

  #login {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;

    @include transform(translate3d(0, 0, 0));
  }

  #extra {
    padding: 0 2 * $offset-base;

    ul,
    li {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
}
