body.logged_in {
  display: flex;
  width: 100%;
  padding-bottom: 5 * $offset-base;
  overflow-x: hidden;
  overflow-y: scroll;
  background: $body-bg;

  &.index {
    @include index-page;
  }

  &.show {
    @include show-page;
  }

  &.new,
  &.create,
  &.update,
  &.edit {
    @include edit-page;
  }

  &.sidebar-toggle {
    #header {
      @extend %header-open;
    }
  }

  &.batch-enabled {
    #batch_bar {
      z-index: 1300;
      opacity: 1;

      @include transform(translateY(0%));
    }
  }


  &.has_tabs {
    &::before {
      height: $banner-height;
    }

    #batch_bar,
    #title_bar {
      @extend %title_bar-has-tab;
    }

    #wrapper {
      padding-top: $banner-height;
    }

    &.scrolled {
      &::before {
        @include box-shadow($titlebar-shadow);
      }
    }
  }

  #float_actions,
  .mdi-float-actions {
    @include float-actions-constructor;
  }

  #hidden_content .hidden_section {
    display: none;
  }

  #wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    padding-top: $titlebar-height;
    box-sizing: border-box;

    @include transition(all 0.2s linear);
  }

  #app_header {
    @include app-header-constructor;
  }

  #header {
    z-index: 1200;
  }

  #batch_bar,
  #title_bar {
    z-index: 1100;
  }

  #search-filter {
    z-index: 2400;
  }

  #active_admin_content {
    position: relative;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5 * $offset;
    padding-bottom: 100px;

    .table_tools {
      z-index: 100;
    }
  }

  #main_content_wrapper {
    display: flex;
    flex: 1 $aside-width;
    justify-content: center;
    max-width: 800px;
    min-width: 0;
    padding: 1.5 * $offset;
    box-sizing: content-box;
  }

  #sidebar {
    display: flex;
    flex-direction: column;
    width: $aside-width;
    padding: 1.5 * $offset;
    box-sizing: content-box;
  }

  #main_content {
    width: 100%;
    margin: 0 auto;

    & > .tabs > .nav-tabs {
      @extend %nav-tabs;
      @include tab-constructor($color: $titlebar-bg, $height: $nav-tabs-height);

      justify-content: center;
    }
  }

  #toast-container {
    @include toast-constructor;
    z-index: 1100;
  }
}
