body.logged_out {
  $form_max_width: 340px;
  $form_shadow:    $logged-out-form-shadow;
  $form_radius:    2px;
  $form_bg:        $logged-out-form-bg;
  $form_padding:   3 * $offset;
  $body_bg:        $logged-out-body-bg;
  $primary_color:  $brand-primary;
  $logo_size:      96px;

  justify-content: center;
  align-items: center;
  background-color: $body_bg;
  display: flex;
  flex: 1;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  a { color: inherit; }
  #wrapper,
  #content_wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #active_admin_content {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $form_max_width;
  }
  .flash { margin-bottom: 2 * $offset; }
  h3 {
    font-size: $h6-fontsize;
    margin-top: 0;
    margin-bottom: $offset;
  }
  fieldset {
    &.inputs {
      background: transparent;
      margin: 0;
      @include box-shadow(none);
    }
    &.actions {
      margin: 0;
      li { width: 100%; }
    }
    li.input { margin-bottom: 2 * $offset; }
    input[type="submit"] { width: 100%; }
  }
  #login {
    background: $form_bg;
    width: 100%;
    border-radius: $form_radius;
    overflow: hidden;
    padding: $form_padding;
    box-sizing: border-box;
    color: get-text-color($form_bg);
    @include transform(translate3d(0,0,0));
    @include box-shadow(#{$form_shadow});
  }
  #site-title {
    font-size: $h3-fontsize;
    font-weight: $font-bold;
    color: get-text-color($body_bg);
    margin: 0 auto;
    margin-bottom: 4 * $offset;
  }
  #logo {
    width: $logo_size;
    height: $logo_size;
    border-radius: 4px;
    overflow: hidden;
    background: transparent;
    margin: 0 auto;
    margin-bottom: 4 * $offset;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      left: 50%;
      top: 0;
      height: 100%;
      @include transform(translateX(-50%));
    }
    span {
      font-size: $h3-fontsize;
      font-weight: $font-bold;
    }
  }
  #extra {
    padding: 2 * $offset;
    width: 100%;
    text-align: center;
    color: get-text-color($body_bg);
    ul, li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .description a {
      white-space: nowrap;
      text-decoration: underline;
    }
  }
  #footer {
    border-top: 1px solid get-divider-color($body_bg);
    padding: 2 * $offset;
    color: get-nav-text-color($body_bg);
  }
}
