%button {
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: $p-fontsize;
  font-weight: $font-bold;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  border: 0;
  border-radius: $button-radius;
  outline: none;

  -webkit-appearance: none;
  -webkit-backface-visibility: hidden;
}

@mixin button-base($_size) {
  @extend %button;

  display: flex;
  padding: 0 2 * $offset-base;

  @if ($_size == 'sm') {
    line-height: $button-height-sm;
  } @else {
    line-height: $button-height;
  }

  input {
    &[type='submit'] {
      color: inherit;
      text-transform: uppercase;
      background: transparent;
      border: 0;

      -webkit-appearance: none;
      -webkit-backface-visibility: hidden;
    }
  }
}

@mixin button-constructor(
  $color: $brand-default,
  $type: 'solid',
  $size: 'default',
  $shadow: $button-shadow
) {
  @include button-base($size);

  @if ($type == 'link') {
    color: $color;
    background: transparent;
  } @elseif ($type == 'outline') {
    color: $color;
    background: transparent;
    border: 1px solid $color;
  } @elseif ($type == 'solid') {
    color: adjust-text-color($color);
    background: $color;
  } @else {
    color: adjust-text-color($color);
    background: $color;

    @include box-shadow($shadow);

    &:not(.disabled):hover {
      background: darken($color, 5%);
    }
  }

  &.disabled {
    opacity: 0.54;
  }
}

@mixin button-icon-base($size) {
  @extend %button;

  display: block;
  border-radius: 50%;

  @if ($size == 'sm') {
    width: $button-height-sm;
    height: $button-height-sm;
    line-height: $button-height-sm;
  } @else {
    width: $button-height;
    height: $button-height;
    line-height: $button-height;
  }

  input {
    &[type='submit'] {
      color: inherit;
      text-transform: uppercase;
      background: transparent;
      border: 0;

      -webkit-appearance: none;
      -webkit-backface-visibility: hidden;
    }
  }
}

@mixin button-icon-constructor(
  $size: 'default',
  $color: $brand-default,
) {
  @include button-icon-base($size);

  color: $color;
  background: transparent;

  &.disabled {
    opacity: 0.54;
  }
}
