@mixin chip-constructor(
  $bg: $chip-bg,
  $size: $chip-size
) {
  position: relative;
  display: inline-block;
  align-items: center;
  height: $size;
  max-width: 100%;
  min-width: $size;
  padding: 0 1.5 * $offset;
  margin: $offset / 4;
  overflow: hidden;
  font-size: $p-fontsize;
  line-height: $size;
  color: adjust-text-color($bg);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  background: $bg;
  border: 0;
  border-radius: $size / 2;
  box-sizing: border-box;

  @if($size == $chip-size-densed) {
    padding: 0 $offset;
    font-size: $h6-fontsize;
  }
}
