@keyframes dropdown-animation {
  from {
    @include transform(perspective(1000px) rotate3d(1, 0, 0, 90deg)scale(0.5)translateY(0));
  }

  to {
    @include transform(perspective(1000px)rotate3d(1, 0, 0, 0)scale(1));
  }
}
@-webkit-keyframes dropdown-animation {
  from {
    @include transform(perspective(1000px)rotate3d(1, 0, 0, 90deg)scale(0.5)translateY(0));
  }

  to {
    @include transform(perspective(1000px)rotate3d(1, 0, 0, 0)scale(1));
  }
}

@mixin dropdown-menu-constructor (
  $parent_bg: white,
  $bg_color:      $dropdown-bg,
  $min_width:     124px,
  $shadow:        $dropdown-shadow,
  $border_radius: $dropdown-broder-radius
) {
  .dropdown_menu_button {
    display: block;
    &:after {
      justify-content: flex-end;
      color: get-nav-text-color($parent_bg);
      content: '\E5D4';

      @extend %cb-aa-icon;
    }
  }
  .dropdown_menu_list_wrapper {
    position: absolute;
    z-index: 999;
    display: none;
    width: auto;
    height: auto;
    min-width: $min_width;
    padding: $offset 0;
    margin: 0;
    color: get-text-color($bg_color);
    background: $bg_color;
    border-radius: $border_radius;

    @include animation(dropdown-animation 0.2s);
    @include box-shadow($shadow);
    transform-origin: 50% 0;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    li a {
      display: flex;
      align-items: center;
      flex: 1;
      height: $ctrl-height;
      padding: $offset 2 * $offset;
      overflow: hidden;
      font-size: $p-fontsize;
      font-weight: normal;
      color: get-text-color($bg_color);
      text-overflow: ellipsis;
      white-space: nowrap;
      box-sizing: border-box;
      & > i {
        margin-right: $offset;
      }
      &:hover {
        @if (lightness($bg_color) > 50) {
          background: darken($bg_color, $color-adjust-default);
        } @else {
          background: lighten($bg_color, $color-adjust-default);
        }
      }
    }
  }
}
