@keyframes float-action-animation {
  from {
    opacity: 0;

    @include transform(translateY(50px));
  }

  to {
    opacity: 1;

    @include transform(translateY(0));
  }
}
@-webkit-keyframes float-action-animation {
  from {
    opacity: 0;

    @include transform(translateY(50px));
  }

  to {
    opacity: 1;

    @include transform(translateY(0));
  }
}

%float-action-base {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $float-action-size;
  height: $float-action-size;
  color: $float-action-text-color;
  background: $float-action-bg;
  border-radius: 50%;

  @include box-shadow($float-action-shadow);
  @include animation(float-action-animation 0.4s);

  &:hover {
    @include box-shadow($float-action-shadow-active);
  }
}

@mixin float-actions-constructor {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 3 * $offset;

  &.multi-actions {
    &:hover {
      .float_action {
        display: block !important;

        a.hide-on-hover {
          display: none !important;
        }

        .ph-icon {
          display: none;
        }

        .hover-icon {
          display: block;
        }
      }
    }

    .ph-icon {
      display: block;
    }

    .hover-icon {
      display: none;
    }

    .float_action:not(:last-child) {
      display: none;

      a {
        width: 40px;
        height: 40px;
      }
    }
  }

  .float_actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }

  .float_action {
    position: relative;
    z-index: 11;
    margin-top: 2 * $offset;
  }

  .float_action a {
    @extend %float-action-base;

    @each $color_class, $color in $btn-color-map {
      &.#{$color_class} {
        color: get-text-color($color);
        background: $color;
      }
    }
  }
}
