@keyframes float-action-animation {
  from {
    opacity: 0;

    @include transform(translateY(50px));
  }

  to {
    opacity: 1;

    @include transform(translateY(0));
  }
}
@-webkit-keyframes float-action-animation {
  from {
    opacity: 0;

    @include transform(translateY(50px));
  }

  to {
    opacity: 1;

    @include transform(translateY(0));
  }
}

%float-action-base {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $float-action-size;
  height: $float-action-size;
  overflow: hidden;
  color: $float-action-text-color;
  background: $float-action-bg;
  border-radius: 50%;

  @include box-shadow($float-action-shadow);
  @include animation(float-action-animation 0.4s);

  &:hover {
    @include box-shadow($float-action-shadow-active);
  }
}

@mixin float-actions-constructor {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 3 * $offset;

  &.multi-actions {
    ul.bottom-sheet {
      position: absolute;
      right: 0;
      bottom: $float-action-size + 2 * $offset-base;
      z-index: 999;
      width: auto;
      height: auto;
      min-width: $bottom-sheet-min-width;
      padding: $offset-base 0;
      margin: 0;
      color: adjust-text-color($bottom-sheet-bg);
      list-style: none;
      background: $bottom-sheet-bg;
      border-radius: $bottom-sheet-radius;

      @include box-shadow($bottom-sheet-shadow);
      @include animation(bottom-sheet-animation 0.2s);
      transform-origin: 50% 0;
    }

    li:hover a {
      color: $bottom-sheet-menu-item-text-color-active !important;
      background: $bottom-sheet-menu-item-bg-active;
    }

    li a {
      display: flex;
      align-items: center;
      flex: 1;
      height: $bottom-sheet-menu-item-height;
      padding: 0 3 * $offset-base;
      overflow: hidden;
      font-size: $p-fontsize;
      font-weight: normal;
      color: adjust-text-color($bottom-sheet-bg);
      text-overflow: ellipsis;
      text-transform: none;
      white-space: nowrap;
      box-sizing: border-box;

      & > i {
        margin-right: $offset-base;
        color: adjust-text-color($bottom-sheet-bg, $type: 'secondary');
      }
    }
  }

  .float_actions {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }

  .float_action {
    position: relative;
    z-index: 11;
    margin-top: 2 * $offset;
  }

  .float_action a {
    @extend %float-action-base;

    @each $color_class, $color in $btn-color-map {
      &.#{$color_class} {
        color: get-text-color($color);
        background: $color;
      }
    }
  }
}
