@mixin folder-constructor(
  $shadow:        $panel-shadow,
  $bg_color:      $panel-bg,
  $ph_bg_color:   rgba(black, .1),
  $border:        none,
  $border_radius: $panel-border-radius,
  $icon:          $folder-icon,
  $icon_w:        48px
) {
  display: flex;
  flex-direction: column;
  position: relative;
  background: $bg_color;
  border: $border;
  margin-bottom: 2 * $offset;
  height: auto;
  width: 200px;
  padding: 0;
  box-sizing: border-box;
  color: get-text-color($bg_color);
  margin: 1.5 * $offset;
  border-radius: $border_radius;
  @include box-shadow($shadow);
  &:before {
    content: $icon;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $icon_w;
    display: flex;
    justify-content: center;
    align-items: center;
    color: get-text-color($bg_color, $type:secondary);
    @extend %aa-icon;
  }
  * { box-sizing: border-box; }
  .folder-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    padding: 1.5 * $offset 2 * $offset;
    padding-left: $icon_w;
    padding-right: 4 * $offset;
    justify-content: center;
    min-height: 48px;
    & > *:not(.folder-actions) {
      white-space: nowrap;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .title {
      position: relative;
      font-weight: 500;
      display: block;
      align-items: center;
      padding-bottom: 0;
      width: 100%;
      margin: 0;
      color: get-text-color($bg_color);
      & > * {
        box-sizing: border-box;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      a { color: get-text-color($bg_color); }
    }
    // .meta {
    //   margin-bottom: 0;
    //   color: get-text-color($bg_color, $type:secondary);
    // }
  }
  .folder-actions {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.5* $offset $offset;
    z-index: 11;
  }
  @include mobile {
    width: calc(50% - 1 * #{$offset});
    margin: $offset / 2;
  }
}
