%header-toggled {
  @include transform(translateX(-100%));

  @include tablet {
    @include transform(translateX(0%));
  }
}

%header-has-tab {
  top: $navbar-height + $navbar-tab-height + 1.5 * $offset-base;
}

%header-constructor {
  position: fixed;
  top: $navbar-height + 1.5 * $offset-base;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: $header-width;
  color: $header-text-color;
  background: $header-bg;

  @include transition(transform 0.2s linear);

  #main-nav {
    flex: 1;
    overflow-y: scroll;
  }

  #footer {
    padding: 2 * $offset-base;
    color: $header-text-color;
    text-align: left;

    a { white-space: nowrap; }
  }

  #site_title {
    position: relative;
    display: none;
    padding-right: 3 * $offset-base;
    padding-left: $header-icon-padding;
    border-bottom: 1px solid $header-divider-color;

    #sidebar-close {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $header-icon-padding;
      height: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      flex-direction: row;
      height: $navbar-height;
      overflow: hidden;

      * {
        font-size: inherit;
        color: inherit;
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    &#tabs,
    &#utility_nav {
      padding: $offset-base 0;
    }

    li.current:not(.has_nested) > a {
      background: $header-item-hover-bg;
    }
  }

  ul.header-item.tabs {
    & + ul {
      border-top: 1px solid $header-divider-color;
    }

    li {
      &.current > a {
        color: $header-item-text-color-active;
      }

      &.has_nested {
        & > a::after {
          @extend %aa-icon;

          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 100%;
          content: get-icon('arrow-down');

          @include transition(all 0.2s ease-in-out);
        }

        &.sub-menu-active {
          & > a::after {
            @include transform(rotate(180deg));
          }

          ul {
            height: auto;
          }
        }

        ul {
          height: 0;
          overflow: hidden;

          li i {
            visibility: hidden;
          }
        }
      }

      a {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-grow: 0;
        height: $header-item-height;
        padding: 0 $header-icon-padding;
        padding-right: 48px;
        overflow: hidden;
        font-size: $p-fontsize;
        font-weight: $font-bold;
        line-height: $header-item-height;
        color: $header-item-text-color;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          background: $header-item-hover-bg;
        }

        span {
          overflow: hidden;
          text-overflow: ellipsis;

          &.menu-title {
            display: flex;
            flex: 1;
          }
        }

        i {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: $header-icon-padding;
          height: $header-item-height;
          font-size: $icon-size;
        }
      }
    }
  }

  .aa-badge {
    @include badge-constructor($header-badge-bg);
  }

  @include tablet {
    top: 0 !important;
    width: 100%;
    max-width: $header-width-sm;
    background: $header-bg-sm;

    @include box-shadow($header-shadow-sm);
    @include transform(translateX(-100%));

    #site_title {
      display: block;
    }
  }
}
