@mixin panel-constructor {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 2 * $offset-base;
  color: $panel-text-color;
  background: $panel-bg;
  border-radius: $panel-radius;
  @include box-shadow($panel-shadow);

  &.transparent {
    margin-bottom: 0;
    background: transparent;

    @include box-shadow(none);

    & + .panel.transparent {
      margin: 0;
      border-top: 1px solid $panel-transparent-border;
    }
  }

  &.collapse {
    & > h3 {
      padding-right: 40px;
      cursor: pointer;

      &::after {
        @extend %cb-aa-icon;

        position: absolute;
        top: 0;
        right: $panel-padding;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $icon-size;
        height: 100%;
        color: $panel-action-color;
        content: get-icon('arrow-up');

        @include transition(all 0.2s ease-in-out);
      }
    }

    &.hidden {
      .panel_contents {
        display: none;
        overflow: hidden;
      }

      & > h3 {
        border-bottom: 0;

        &::after {
          @include transform(rotate(-180deg));
        }
      }
    }
  }

  & > h3 {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 $panel-padding;
    line-height: 48px;

    & + .panel_contents {
      margin-top: 2 * $offset-base;
    }

    .header_action {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: flex-end;

      a {
        @include button-icon-constructor($color: $panel-btn-color);

        margin-left: $offset-base / 2;
      }
    }
  }

  table:not(.cb-aa-attributes-table) {
    @include table-constructor;
  }

  .section {
    & + .section {
      margin-top: 3 * $offset-base;
    }

    .section-title {
      position: relative;
      padding: 0;
      margin-bottom: 2 * $offset-base;
    }

    .section_contents {
      & > .tabs {
        margin-top: 2 * $offset-base;
      }
    }
  }

  .panel_contents {
    display: block;
    padding: 0 $panel-padding;
    padding-bottom: 3 * $offset-base;
    overflow: scroll;
  }

  .tabs > .nav-tabs-wrap {
    padding: 0;
    margin: 0 calc(-3 * #{$offset-base});
    margin-bottom: 3 * $offset-base;
    border-bottom: 1px solid $panel-tabs-border-color;

    & > .nav-tabs {
      @include tab-constructor;
    }
  }
}
