%table-tools-batch-enabled {
  $_bg: $navbar-tab-bg;
  $_badge-bg: $navbar-tab-badge-bg;

  @if ($navbar-tab-bg == $titlebar-bg) {
    $_bg: $batchbar-bg;
    $_badge-bg: $batchbar-badge-bg;
  }

  background: $_bg;

  .table_tools_segmented_control {
    @include tab-constructor(
      $_color: $_bg,
      $_height: $navbar-tab-height,
      $_indicator-bg: $navbar-tab-indicator-color-active,
      $_badge-bg: $_badge-bg,
      $_align: $navbar-tab-alignment,
      $_min-width: $navbar-tab-min-width
    );
  }
}

%table-tools-constructor {
  @extend %nav-tabs;

  z-index: 100;

  .dropdown_menu_button {
    @include button-constructor($_size: 'sm');
  }

  .table_tools_segmented_control {
    @include tab-constructor(
      $_color: $navbar-tab-bg,
      $_height: $navbar-tab-height,
      $_indicator-bg: $navbar-tab-indicator-color-active,
      $_badge-bg: $navbar-tab-badge-bg,
      $_min-width: $navbar-tab-min-width
    );
  }
}
