@mixin tinymce-constructor {
  .mce-branding-powered-by {
    display: none;
  }

  .mce-tinymce {
    width: 100%;
    margin-top: $offset-base;
    overflow: hidden;
    color: get-text-color($tinymce-header-panel-bg);
    border: $tinymce-border !important;
    border-radius: $tinymce-border-radius;

    &.mce-fullscreen {
      z-index: 3000;
    }
  }

  .mce-stack-layout-item {
    border: 0 !important;
  }

  .mce-toolbar-grp {
    padding: 0;
  }

  .mce-btn-group .mce-btn {
    margin: 0;
  }

  .mce-flow-layout {
    padding: $offset 0;
  }

  .mce-flow-layout-item {
    margin: 0;
  }

  .mce-panel {
    background: $tinymce-header-panel-bg;
    border-color: get-divider-color($tinymce-header-panel-bg);
  }

  .mce-stack-layout {
    .mce-menu-item {
      display: flex;
      align-items: center;
      padding: $offset;
      margin: 0;
    }
  }

  .mce-colorbutton,
  .mce-splitbtn {
    .mce-open,
    .mce-open.mce-active {
      height: $tinymce-icon-size;
      padding: 0;
      background: transparent;
      border: 0;
      outline: none;

      .mce-caret {
        margin: 0;
      }
    }
  }

  .mce-colorbutton .mce-preview {
    width: 21px;
    height: 4px;
    margin-top: 8px;
    margin-left: -16px;
  }

  .mce-widget,
  .mce-menubtn,
  .mce-flow-layout {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .mce-btn-group {
    display: flex;
    align-items: center;
    flex-direction: row;

    & > * {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }

  .mce-menubar .mce-menubtn:hover,
  .mce-menubar .mce-menubtn.mce-active,
  .mce-menubar .mce-menubtn:focus {
    background: transparent;
    border-color: transparent;
    outline: none;
  }

  .mce-btn {
    padding: 0;
    background: transparent;

    &[aria-disabled='false'],
    &.mce-active,
    &.mce-active:hover {
      background: transparent;
      border: 1px solid transparent;

      i {
        color: adjust-text-color($tinymce-bg, $type: 'secondary');
      }
    }

    &:hover,
    &:focus {
      background: transparent;
      border: 1px solid transparent;

      i {
        color: adjust-text-color($tinymce-bg);
      }
    }

    .mce-caret {
      margin: 0;
      margin-left: $offset;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $offset / 2;
    }

    i {
      color: adjust-text-color($tinymce-header-panel-bg, $type: 'secondary');
      text-shadow: none;
    }
  }

  .mce-menu {
    z-index: 11 !important;
    background: $tinymce-dropdown-bg;
    border: 0;

    @include box-shadow($tinymce-dropdown-shadow);

    .mce-menu-item-sep {
      background: adjust-divider-color($tinymce-header-panel-bg) !important;
    }

    .mce-menu-item {
      padding: $offset 2 * $offset;

      &.mce-selected,
      &:hover,
      &:focus {
        .mce-text,
        .mce-caret {
          color: get-text-color($tinymce-dropdown-bg) !important;
        }

        .mce-caret {
          border-left-color: get-text-color($tinymce-dropdown-bg) !important;
        }
      }

      &.mce-selected,
      &:hover,
      &:focus {
        @if (lightness($tinymce-dropdown-bg) > 50) {
          background: darken($tinymce-dropdown-bg, $color-adjust-default);
        } @else {
          background: lighten($tinymce-dropdown-bg, $color-adjust-default);
        }
      }

      .mce-menu-shortcut {
        color: $tinymce-dropdown-item-shortcut-color;
      }

      .mce-ico {
        margin-right: $offset;
      }

      i {
        color: adjust-text-color($tinymce-dropdown-bg, $type: 'secondary') !important;
      }
    }
  }

  .mce-active .mce-ico {
    &.mce-i-fullscreen::before {
      content: 'fullscreen_exit' !important;
    }
  }

  .mce-wordcount {
    position: absolute;
    top: 0;
    right: 2 * $offset;
    padding: 0;
  }

  .mce-ico:not(.mce-i-resize) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $icon-size;
    height: $icon-size;

    &::before {
      @extend %aa-icon;

      display: flex;
      align-items: center;
      overflow: hidden;
      line-height: 1;
    }

    &.mce-i-undo::before           { content: get-icon('tinymce-undo'); }
    &.mce-i-redo::before           { content: get-icon('tinymce-redo'); }
    &.mce-i-bold::before           { content: get-icon('tinymce-bold'); }
    &.mce-i-italic::before         { content: get-icon('tinymce-italic'); }
    &.mce-i-alignleft::before      { content: get-icon('tinymce-align-left'); }
    &.mce-i-alignright::before     { content: get-icon('tinymce-align-right'); }
    &.mce-i-aligncenter::before    { content: get-icon('tinymce-align-center'); }
    &.mce-i-alignjustify::before   { content: get-icon('tinymce-align-justify'); }
    &.mce-i-bullist::before        { content: get-icon('tinymce-list-bullet'); }
    &.mce-i-numlist::before        { content: get-icon('tinymce-list-numbered'); }
    &.mce-i-outdent::before        { content: get-icon('tinymce-outdent'); }
    &.mce-i-indent::before         { content: get-icon('tinymce-indent'); }
    &.mce-i-underline::before      { content: get-icon('tinymce-underlined'); }
    &.mce-i-superscript::before    { content: get-icon('tinymce-align-top'); }
    &.mce-i-subscript::before      { content: get-icon('tinymce-align-bottom'); }
    &.mce-i-strikethrough::before  { content: get-icon('tinymce-strikethrough'); }
    &.mce-i-code::before           { content: get-icon('tinymce-code'); }
    &.mce-i-fullscreen::before     { content: get-icon('tinymce-fullscreen'); }
    &.mce-i-image::before          { content: get-icon('tinymce-photo'); }
    &.mce-i-remove::before         { content: get-icon('tinymce-clear'); }
    &.mce-i-link::before           { content: get-icon('tinymce-link'); }
    &.mce-i-insert::before         { content: get-icon('tinymce-add'); }
    &.mce-i-print::before          { content: get-icon('tinymce-print'); }
    &.mce-i-preview::before        { content: get-icon('tinymce-preview'); }
    &.mce-i-media::before          { content: get-icon('tinymce-media'); }
    &.mce-i-backcolor::before      { content: get-icon('tinymce-backcolor'); }
    &.mce-i-forecolor::before      { content: get-icon('tinymce-forecolor'); }
    &.mce-i-emoticons::before      { content: get-icon('tinymce-emoticon'); }
    &.mce-i-codesample::before     { content: get-icon('tinymce-code-sample'); }
    &.mce-i-removeformat::before   { content: get-icon('tinymce-removeformat'); }
    &.mce-i-table::before          { content: get-icon('tinymce-table'); }
    &.mce-i-anchor::before         { content: get-icon('tinymce-anchor'); }
    &.mce-i-pagebreak::before      { content: get-icon('tinymce-pagebreak'); }
    &.mce-i-hr::before             { content: get-icon('tinymce-hr'); }
    &.mce-i-charmap::before        { content: get-icon('tinymce-charmap'); }
    &.mce-i-cut::before            { content: get-icon('tinymce-cut'); }
    &.mce-i-copy::before           { content: get-icon('tinymce-copy'); }
    &.mce-i-paste::before          { content: get-icon('tinymce-paste'); }
    &.mce-i-newdocument::before    { content: get-icon('tinymce-newdocument'); }
    &.mce-i-selected::before       { content: get-icon('tinymce-selected'); }
  }

  .mce-btn-group:not(:first-child) {
    border-color: adjust-divider-color($tinymce-header-panel-bg);
  }

  .mce-statusbar {
    height: 24px;
    background: $tinymce-bg;

    .mce-flow-layout {
      height: 100%;
      box-sizing: border-box;
    }
  }
}
