@keyframes tooltip-animation {
  from {
    @include transform(perspective(1000px)rotate3d(1, 0, 0, 90deg)scale(0.5)translateY(0));
  }

  to {
    @include transform(perspective(1000px)rotate3d(1, 0, 0, 0)scale(1));
  }
}
@-webkit-keyframes dropdown-animation {
  from {
    @include transform(perspective(1000px)rotate3d(1, 0, 0, 90deg)scale(0.5)translateY(0));
  }

  to {
    @include transform(perspective(1000px)rotate3d(1, 0, 0, 0)scale(1));
  }
}

%tooltip-base {
  display: flex;
  align-items: center;
  max-width: 120px;
  padding: $offset-base / 2 $offset-base;
  overflow: hidden;
  color: adjust-text-color($tooltip-bg);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: $tooltip-bg;
  border-radius: 2px;

  @include box-shadow($tooltip-shadow);
  @include animation(tooltip-animation 0.2s);
  transform-origin: 50% 0;
}

%tooltip-constructor {
  position: absolute;
  display: block;
  font-size: $p-fontsize;
  opacity: 0;

  &.in {
    opacity: 1;
  }

  &.top {
    padding: 0;
    margin-top: -#{$offset-base};
  }

  &.right {
    padding: 0 $offset-base;
    margin-left: $offset-base;
  }

  &.bottom {
    padding: $offset-base 0;
    margin-top: $offset-base;
  }

  &.left {
    padding: 0 $offset-base;
    margin-left: -#{$offset-base};
  }

  .tooltip-inner {
    @extend %tooltip-base;
  }
}
