// =================================
//    OVERWRITE CONFIGS (Toby Dark)
// =================================

/**
  GLOBAL
  **/
// Utilities
$color-adjustment-intensity: 65 !default;

// Backgrounds
$body-bg:   #21212A !default;
$widget-bg: #2F323C !default;
$widget-ctrl-bg: #25272F !default;

// Shadows
$widget-shadow: 1px 2px 4px 0 rgba(0,0,0,.27), 0 0 0 1px rgba(0,0,0,.15) !default;

// Colors
$brand-default: #21212A !default;
$brand-primary: #FA507A !default;
$brand-success: #41BD92 !default;
$brand-danger:  #FF1952 !default;
$brand-warning: #FBF269 !default;
$brand-info:    #149DCC !default;

// Text colors
$text-color-primary-inverse:   #f0f0f7 !default;
$text-color-secondary-inverse: #9795ac !default;
$text-color-primary:   #21212A !default;
$text-color-secondary: #9795ac !default;

// Dividers
$divider-light: rgba(0,0,0,.2) !default;

/**
  LOGGED OUT PAGE
  **/
$body-bg-logged-out: #21212A !default;

/**
  SHOW PAGE
  **/
$show-field-divider-dark-parent: 1px solid rgba(black, .1) !default;

/**
  COMPONENTS
  **/

// Float Action
$float-action-bg: $brand-primary !default;

// Inputs
$input-guide-border-dark-parent: 2px solid rgba(white, .1) !default;
$input-solid-border:              1px solid rgba(black, .1) !default;

// Tinymce
$tinymce-header-panel-bg: #2F323C !default;
$tinymce-border:          2px solid rgba(white, .1) !default;
$tinymce-bg:              #2D2F36 !default;

// Datepicker
$datepicker-header-bg: $widget-ctrl-bg !default;

// Navbar
$navbar-bg:     #292C35 !default;
$app-header-bg: #23262d !default;

// Sidebar
$sidebar-bg: #21212A !default;

// Search Filter
// $search-filter-header-bg:     $widget-ctrl-bg !default;
// $search-filter-header-shadow: none !default;
// $search-filter-bg:            $widget-bg !default;

// Panel
$panel-bg:            #2D2F36 !default;
$panel-ctrl-bg:       #25272F !default;
$panel-shadow:        1px 1px 0 0 rgba(28,28,28,.08), 2px 2px 3px 0 rgba(28,28,28,.1) !default;
$panel-shadow-active: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.16) !default;

// Table
$table-bg:              #2D2F36 !default;
$table-selected-row-bg: rgba($brand-primary, .1) !default;

// Toast
$toast-bg: $widget-bg !default;

// Chip
$chip-bg:                rgba(black, .15) !default;
$chip-remove-bg:         $brand-primary !default;
$chip-remove-text-color: white !default;

// Modal
$modal-bg:            $widget-bg !default;
$modal-header-bg:     $widget-ctrl-bg !default;
$modal-header-shadow: none !default;

// Tooltip
$tooltip-bg: rgba($widget-bg, .97) !default;
$tooltip-shadow: 0 0 0 1px rgba(white, .3), $widget-shadow !default;
