@function get-icon($key) {
  @return get-map-value($key, $icon-map);
}

%aa-icon {
  display: inline-block;
  align-items: center;
  overflow: hidden;
  font-family: $icon-font;
  font-size: $icon-size;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  text-rendering: geometricPrecision;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  vertical-align: middle;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

[class*='aa-icon-']::before {
  @extend %aa-icon;
}

$icon-map: (
  'add':                     '\E145',
  'edit':                    '\E254',
  'close':                   '\E5CD',
  'arrow-right':             '\E315',
  'arrow-left':              '\E314',
  'arrow-up':                '\E316',
  'arrow-down':              '\E313',
  'arrow-back':              '\E5C4',
  'arrow-dropdown':          '\E5C5',
  'checkbox-unchecked':      '\E835',
  'checkbox-checked':        '\E834',
  'search':                  '\E8B6',
  'delete':                  '\E872',
  'menu':                    '\E5D2',
  'empty':                   '\E156',
  'sorted-desc':             '\E5DB',
  'sorted-asc':              '\E5D8',
  'more':                    '\E5D4',
  'tinymce-undo':            '\E314',
  'tinymce-redo':            '\E315',
  'tinymce-bold':            '\E238',
  'tinymce-italic':          '\E23F',
  'tinymce-align-left':      '\E236',
  'tinymce-align-right':     '\E237',
  'tinymce-align-center':    '\E234',
  'tinymce-align-justify':   '\E235',
  'tinymce-list-bullet':     '\E241',
  'tinymce-list-numbered':   '\E242',
  'tinymce-outdent':         '\E23D',
  'tinymce-indent':          '\E23E',
  'tinymce-underlined':      '\E249',
  'tinymce-align-top':       '\E25A',
  'tinymce-align-bottom':    '\E258',
  'tinymce-strikethrough':   '\E246',
  'tinymce-code':            '\E86F',
  'tinymce-fullscreen':      '\E5D0',
  'tinymce-photo':           '\E251',
  'tinymce-clear':           '\E14C',
  'tinymce-link':            '\E250',
  'tinymce-add':             '\E145',
  'tinymce-print':           '\E8AD',
  'tinymce-preview':         '\E8F4',
  'tinymce-media':           '\E8DA',
  'tinymce-backcolor':       '\E23A',
  'tinymce-forecolor':       '\E23C',
  'tinymce-emoticon':        '\E24E',
  'tinymce-code-sample':     '\E86F',
  'tinymce-removeformat':    '\E239',
  'tinymce-table':           '\E3EC',
  'tinymce-anchor':          '\E866',
  'tinymce-pagebreak':       '\E256',
  'tinymce-hr':              '\E15B',
  'tinymce-charmap':         '\E312',
  'tinymce-cut':             '\E14E',
  'tinymce-copy':            '\E14D',
  'tinymce-paste':           '\E14F',
  'tinymce-newdocument':     '\E02E',
  'tinymce-selected':        '\E5CA',
  'tinymce-blockquote':      '\E244',
);

@each $_icon-name, $_icon-value in $icon-map {
  .aa-icon-#{$_icon-name}::before {
    content: $_icon-value;
  }
}
