@mixin edit-page {
  #main_content_wrapper { max-width: $edit-max-width; }
  // form {
  //   fieldset {
  //     &.inputs {
  //       @include panel-constructor;
  //       overflow: hidden;
  //     }
  //   }
  //   fieldset ol {
  //     width: 100%;
  //     float: left;
  //   }
  //   fieldset.inputs {
  //     .has_many_container {
  //       flex-direction: column;
  //       padding: 3 * $offset;
  //       fieldset.has_many_fields {
  //         border: $has-many-container-border;
  //         margin-bottom: 3 * $offset;
  //         @include box-shadow($has-many-container-shadow);
  //         ol { padding-bottom: 0; }
  //         li:not(.input):not(.has_many_container) {
  //           padding: $offset;
  //           justify-content: flex-end;
  //           background: $has-many-add-ctrl-bg;
  //           margin-bottom: 0;
  //         }
  //       }
  //       a.has_many_add { @include button-constructor($color:$has-many-add-color, $shadow: false); }
  //       a.has_many_remove { @include button-constructor($color:$has-many-delete-color, $type:link, $size: densed); }
  //     }
  //   }
  //   li {
  //     display: flex;
  //     &.input {
  //       position: relative;
  //       padding: 3 * $offset;
  //       text-align: left;
  //       flex-direction: column;
  //       &:not(:last-of-type) { border-bottom: 1px solid $form-divider-color; }
  //       fieldset.fragments legend.label {
  //         display: block;
  //         float: left;
  //         width: 100%;
  //       }
  //       fieldset.fragments legend.label label,
  //       &.boolean span.checkbox-label,
  //       &.select label,
  //       &.text label,
  //       &.file label:not(.file-input),
  //       &.stringish label,
  //       &.just_time_picker_with_ampm label,
  //       &.just_datetime_picker label {
  //         display: flex;
  //         align-items: center;
  //         margin-bottom: $offset;
  //         box-sizing: border-box;
  //         white-space: nowrap;
  //         font-weight: $font-bold;
  //         text-overflow: ellipsis;
  //         font-size: $label-fontsize;
  //         overflow: hidden;
  //         color: get-text-color($panel-bg);
  //         .field_with_errors input { border-color: $brand-danger; }
  //         input { width: calc(100% - 30%); }
  //       }
  //       &.boolean span.checkbox-label { margin-bottom: 0; }
  //     }
  //     .inline-hints {
  //       margin-top: $offset;
  //     }
  //   }
  //   fieldset.actions {
  //     margin-top: 3 * $offset;
  //     ol { padding: 0; }
  //     ol:after {
  //       content: "";
  //       display: table;
  //       clear: both;
  //     }
  //     li {
  //       display: block;
  //       float: right;
  //       margin-left: $offset;
  //     }
  //     li.cancel a { @include button-constructor($color:$brand-default, $type:link); }
  //     input[type="submit"] { @include button-constructor($color:$brand-primary); }
  //   }
  // }
  @include mobile {
    form {
      fieldset > legend { padding: 0 2 * $offset; }
      fieldset.inputs li.input {
        &.boolean label {
          .checkbox-label {
            position: static;
            padding: 0;
          }
        }
        &.select label,
        &.file label:not(.file-input),
        &.text label,
        &.stringish label {
          position: static;
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}
