$brand-primary: #FF3466;

$body-bg: #F8F8F8;
$titlebar-bg: #F8F8F8;
$batchbar-bg: #EBEBEB;

$navbar-shadow: 0 1px 0 0 #EBEBEB;

$divider-color: #EBEBEB;

$panel-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
$text-color-primary: #18191B;
$text-color-secondary: #373D40;
$text-color-hint: rgba(27,29,48,0.3);
$navbar-tab-indicator-color-active: $brand-primary;
