@mixin app-header-constructor {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: $app-header-bg;
  height: $app-header-height;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 3 * $offset;
  color: get-nav-text-color($app-header-bg, $status: active);
  z-index: 1000;
  @include box-shadow($app-header-shadow);
  .flex-col {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: $p-fontsize * 0.9;
    font-weight: $font-bold;
    text-transform: uppercase;
    &:first-child { justify-content: flex-start; }
    &:last-child { justify-content: flex-end; }
  }
  .favicon {
    height: 16px;
    width: 16px;
    overflow: hidden;
    position: relative;
    margin-right: $offset;
    border-radius: $border-radius;
    img {
      height: 100%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
    }
  }
  .title {
    font-weight: $font-bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  @include mobile { display: none; }
}
