@mixin badge-constructor(
  $_bg, $_text-color: $badge-text-color
) {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  height: $badge-height;
  min-width: $badge-height;
  padding: 0 $offset-base / 2;
  font-size: $badge-fontsize;
  font-weight: $font-bold;
  line-height: $badge-height;
  color: $_text-color;
  background: $_bg;
  border-radius: $badge-radius;
}
