@mixin badge-constructor($color: $badge-bg) {
  display: inline-block;
  padding: 0 $offset-base;
  font-size: $badge-fontsize;
  font-weight: $font-bold;
  line-height: $badge-height;
  color: adjust-text-color($color, $type: 'secondary');
  vertical-align: baseline;
  background: $color;
  border-radius: $badge-radius;
}
