@mixin blank-slate-constructor {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 3 * $offset;
  color: get-nav-text-color($body-bg);
  box-sizing: border-box;

  @include mobile {
    padding: 1.5 * $offset;
  }

  & > i {
    margin-bottom: $offset;
    line-height: 1;
    color: $text-color-hint;

    &::before {
      font-size: 64px;
    }
  }

  .title {
    margin-bottom: $offset;
  }

  .blank_slate {
    text-align: center;
  }

  a {
    text-transform: uppercase;
  }
}
