@mixin blank-slate-constructor {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: get-nav-text-color($body-bg);
  padding: 3 * $offset;
  box-sizing: border-box;
  .cb_activeadmin-icons {
    font-size: 80px;
    margin-bottom: $offset;
    line-height: 1;
    color: $text-color-placeholder;
  }
  .title {
    margin-bottom: $offset;
  }
  .blank_slate {
    text-align: center;
  }
  a { text-transform: uppercase; }
  @include mobile {
    padding: 1.5 * $offset;
  }
}
