@mixin button-icon-base($size) {
  position: relative;
  display: block;
  align-items: center;
  padding: 0;
  font-size: $p-fontsize;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  outline: none;

  -webkit-appearance: none;
  -webkit-backface-visibility: hidden;

  @if ($size == 'sm') {
    width: $button-height-sm;
    height: $button-height-sm;
    line-height: $button-height-sm;
  } @else {
    width: $button-height;
    height: $button-height;
    line-height: $button-height;
  }

  input {
    &[type='submit'] {
      color: inherit;
      text-transform: uppercase;
      background: transparent;
      border: 0;

      -webkit-appearance: none;
      -webkit-backface-visibility: hidden;
    }
  }
}

@mixin button-icon-constructor(
  $size: 'default',
  $color: $brand-default,
) {
  @include button-icon-base($size);

  color: $color;
  background: transparent;

  &.disabled {
    opacity: 0.54;
  }
}
