@mixin button-base($size) {
  position: relative;
  display: block;
  align-items: center;
  padding: 0 2 * $offset-base;
  font-size: $p-fontsize;
  font-weight: $font-bold;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  border: 0;
  border-radius: $button-radius;
  outline: none;

  -webkit-appearance: none;
  -webkit-backface-visibility: hidden;

  @if ($size == 'sm') {
    line-height: $button-height-sm;
  } @else {
    line-height: $button-height;
  }

  input {
    &[type='submit'] {
      color: inherit;
      text-transform: uppercase;
      background: transparent;
      border: 0;

      -webkit-appearance: none;
      -webkit-backface-visibility: hidden;
    }
  }
}

@mixin button-constructor(
  $color: $brand-default,
  $type: 'button',
  $size: 'default',
  $shadow: null
) {
  @include button-base($size);

  @if ($shadow != null) {
    @include box-shadow($shadow);
  }

  @if ($type == 'link') {
    color: $color;

    &:not(.disabled):hover {
      background: $brand-default;
    }
  } @else {
    color: adjust-text-color($color);
    background: $color;

    &:not(.disabled):hover {
      background: darken($color, 5%);
    }
  }

  &.disabled {
    opacity: 0.54;
  }
}
