@mixin card-constructor(
  $shadow:        $panel-shadow,
  $bg_color:      $panel-bg,
  $border:        none,
  $border_radius: $panel-border-radius
) {
  position: relative;
  background: $bg_color;
  border: $border;
  margin-bottom: 2 * $offset;
  height: auto;
  max-width: 430px;
  min-width: 280px;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  color: get-text-color($bg_color);
  border-radius: $border_radius;
  * { box-sizing: border-box; }
  @include box-shadow($shadow);
  .card-actions {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2 * $offset;
    z-index: 11;
  }
  .cover {
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      padding-top: 62%;
      display: block;
    }
    img {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      @include transform(translateY(-50%));
    }
  }
  .meta {
    padding: $offset 3 * $offset;
    color: get-text-color($bg_color, $type:secondary);
  }
  .title {
    position: relative;
    font-weight: 500;
    display: block;
    align-items: center;
    padding: 2 * $offset 3 * $offset;
    padding-bottom: 0;
    width: 100%;
    margin: 0;
    color: get-text-color($bg_color);
    & > * {
      box-sizing: border-box;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    a { color: get-text-color($bg_color); }
  }
  .body { padding: 2 * $offset 3 * $offset; }
  @include mobile {
    .title,
    .body { padding: 2 * $offset; }
    .meta { padding: $offset 2 * $offset; }
  }
}
