$checkbox-height:              $ctrl-height !default;
$checkbox-height-densed:       $ctrl-height-densed !default;
$checkbox-icon-container-size: $ctrl-height !default;
$checkbox-icon-size:           $icon-size !default;

@mixin checkbox-base {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-size: $p-fontsize;
  white-space: nowrap;
  box-sizing: border-box;
  background: transparent;
  -webkit-appearance: none;
  -webkit-backface-visibility: hidden;
  height: $checkbox-height;
  display: flex;
  align-items: center;
  input[type="checkbox"] { display: none; }
}

@mixin checkbox-icon(
  $color:     $brand-primary,
  $parent_bg: $table-bg

) {
  @include checkbox-base;
  input:checked + .checkbox-icon:before {
    content: "\E834";
    color: $color;
  }
  .checkbox-icon {
    position: relative;
    width: 3 * $offset;
    margin-right: $offset;
    text-align: center;
    align-items: center;
    display: flex;
    &:before {
      content: '\E835';
      color: get-text-color($parent_bg, $type:secondary);
      @include icon-constructor($font_size: $checkbox-icon-size);
    }
  }
}

@mixin checkbox-constructor {
  @include checkbox-icon;
}
