@mixin input-checkbox-constructor {
  & > label:not(.label) {
    display: flex;
    align-items: center;
    font-size: $input-fontsize;
  }

  input {
    display: none;
  }

  input:checked + .checkbox-icon::before {
    color: $input-active-color;
    content: get-icon('checkbox-checked');
  }

  .checkbox-icon {
    position: relative;
    display: flex;
    align-items: center;
    width: 3 * $offset;
    margin-right: $offset;
    text-align: center;
    vertical-align: middle;

    &::before {
      @extend %cb-aa-icon;

      color: $label-text-color;
      content: get-icon('checkbox-unchecked');

    }
  }
}
