@mixin input-checkbox-constructor {
  & > label:not(.label) {
    display: flex;
    align-items: center;
    font-size: $h5-fontsize;
  }

  input {
    display: none;
  }

  input:checked + .checkbox-icon::before {
    color: $brand-primary;
    content: 'check_box';
  }

  .checkbox-icon {
    position: relative;
    display: flex;
    align-items: center;
    width: 3 * $offset;
    margin-right: $offset;
    text-align: center;

    &::before {
      color: $text-color-hint;
      content: 'check_box_outline_blank';

      @include icon-constructor($_font-size: $checkbox-icon-size);
    }
  }
}
