@mixin chip-constructor(
  $bg_color:   $chip-bg,
  $size:       $chip_size
) {
  position: relative;
  height: $size;
  min-width: $size;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  line-height: $size;
  align-items: center;
  border-radius: $size / 2;
  background: $bg_color;
  font-size: $p-fontsize;
  box-sizing: border-box;
  padding: 0 1.5 * $offset;
  text-align: center;
  @if($size == $chip-size-densed) {
    padding: 0 $offset / 2;
  }
  margin: $offset / 4 !important;
  white-space: nowrap;
  border: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: get-text-color($bg_color);
}
