@mixin comments-constructor {
  .panel_contents {
    margin: -3 * $offset-base;
    margin-top: 0;
  }

  .comment_item {
    padding: 2 * $offset-base 3 * $offset-base;

    & + .comment_item {
      border-top: 1px solid $divider-color;
    }

    .comment_item_inner {
      display: flex;
    }

    .comment_avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $comment-avatar-size;
      height: $comment-avatar-size;
      margin-right: 2 * $offset-base;
      overflow: hidden;
      font-weight: $font-bold;
      text-transform: uppercase;
      background: $comment-avatar-bg;
      border-radius: 50%;
    }

    .comment_header {
      display: flex;
      align-items: center;
      margin-bottom: $offset-base;

      .comment_author {
        flex: 1 1 auto;
      }

      .comment_date {
        flex: 0 0 auto;
        color: $text-color-hint;
      }

      .comment_actions {
        margin-left: $offset-base;
      }
    }

    .comment_content {
      flex: 1;
    }
  }

  .admin-comment-form {
    padding: $offset-base 3 * $offset-base;
    border-top: 1px solid $divider-color;

    textarea {
      padding: 0;
      border: 0;

      &:focus {
        @include box-shadow(none);
      }
    }
  }
}
