@keyframes dropdown-animation {
  from {
    @include transform(perspective(1000px)rotate3d(1,0,0,90deg)scale(.5)translateY(0));
  }
  to {
    @include transform(perspective(1000px)rotate3d(1,0,0,0)scale(1));
  }
}
@-webkit-keyframes dropdown-animation {
  from {
    @include transform(perspective(1000px)rotate3d(1,0,0,90deg)scale(.5)translateY(0));
  }
  to {
    @include transform(perspective(1000px)rotate3d(1,0,0,0)scale(1));
  }
}

@mixin dropdown-menu-constructor (
  $parent_bg:     $table-bg,
  $bg_color:      $dropdown-bg,
  $min_width:     124px,
  $shadow:        $dropdown-shadow,
  $border_radius: $dropdown-broder-radius
) {
  .dropdown_menu_button {
    display: block;
    &:after {
      content: "\E5D4";
      color: get-nav-text-color($parent_bg);
      justify-content: flex-end;
      @include icon-constructor;
    }
  }
  .dropdown_menu_list_wrapper {
    position: absolute;
    height: auto;
    width: auto;
    color: get-text-color($bg_color);
    min-width: $min_width;
    background: $bg_color;
    padding: $offset 0;
    margin: 0;
    display: none;
    border-radius: $border_radius;
    z-index: 999;
    @include box-shadow($shadow);
    @include animation(dropdown-animation .2s);
    transform-origin: 50% 0;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li a {
      display: flex;
      flex: 1;
      height: $ctrl-height;
      align-items: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: $offset 2 * $offset;
      color: get-text-color($bg_color);
      box-sizing: border-box;
      font-size: $p-fontsize;
      font-weight: normal;
      & > i { margin-right: $offset; }
      &:hover {
        @if (lightness($bg_color) > 50) {
          background: darken($bg_color, $color-adjust-default);
        } @else {
          background: lighten($bg_color, $color-adjust-default);
        }
      }
    }
  }
}
