@mixin input-select-constructor {
  @extend %input-base;

  position: relative;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: $input-height;
  line-height: $input-height;

  &:not([multiple]) {
    padding-right: 4 * $offset-base;
    background-image: image-url('cb_activeadmin/arrow_down.png');
    background-position: calc(100% - 4px) 8px;
    background-repeat: no-repeat;
    background-size: $icon-size;
  }

  &[multiple] {
    height: auto;
    padding: 1.5 * $offset-base;
  }
}
