@mixin input-text-constructor {
  input {
    @extend %input-base;

    &[type='text'],
    &[type='password'],
    &[type='email'],
    &[type='number'],
    &[type='url'],
    &[type='search'],
    &[type='tel'] {
      position: relative;
      flex: 1;
      flex-direction: column;
      width: 100%;
      height: $input-height;
    }
  }
}
