@mixin input-text-constructor {
  &.error {
    input {
      &[type='text'],
      &[type='password'],
      &[type='email'],
      &[type='number'],
      &[type='url'],
      &[type='search'],
      &[type='tel'] {
        border-color: $brand-danger;

        &:focus {
          border-color: $brand-danger;
          @include box-shadow(0 1px 0 #{$brand-danger});
        }
      }
    }
  }

  input {
    @include input-base;

    &[type='text'],
    &[type='password'],
    &[type='email'],
    &[type='number'],
    &[type='url'],
    &[type='search'],
    &[type='tel'] {
      position: relative;
      flex: 1;
      flex-direction: column;
      width: 100%;
      border-bottom: 1px solid $input-guide-color;

      &:focus {
        border-color: $brand-primary;
        @include box-shadow(0 1px 0 #{$brand-primary});
      }

      &[disabled] {
        color: $text-color-hint;
        border-style: dashed;
      }
    }
  }
}
