@mixin input-textarea-constructor {
  textarea {
    @extend %input-base;

    position: relative;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: $offset-base * 1.5;
    border: $input-border;
    resize: vertical;
  }
}
