%nav-icon {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  width: $nav-icon-size;
  height: $nav-icon-size;
  color: $nav-btn-color;
  cursor: pointer;
  border: $nav-icon-border;
  border-radius: 50%;

  &:hover {
    color: $nav-btn-color-active;
    border-color: $nav-btn-color-active;

    @include box-shadow(0 0 0 2px $nav-btn-color-active);
  }

  &::before {
    @extend %cb-aa-icon;
  }
}
