@mixin panel-constructor {
  display: block;
  width: 100%;
  padding: 0 2 * $offset-base;
  margin: 0 auto;
  margin-bottom: 2 * $offset-base;
  background: $panel-bg;
  border-radius: $panel-radius;
  @include box-shadow($panel-shadow);

  &.transparent {
    margin-bottom: 0;
    background: transparent;

    @include box-shadow(none);

    & + .panel.transparent {
      margin: 0;
      border-top: 1px solid $panel-transparent-border;
    }
  }

  &.collapse {
    & > h3 {
      padding-right: 40px;
      cursor: pointer;

      &::after {
        @extend %cb-aa-icon;

        position: absolute;
        top: 0;
        right: $offset-base;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $icon-size;
        height: 100%;
        color: $panel-action-color;
        content: get-icon('arrow-up');

        @include transition(all 0.2s ease-in-out);
      }
    }

    &.hidden {
      .panel_contents {
        display: none;
        overflow: hidden;
      }

      & > h3 {
        border-bottom: 0;

        &::after {
          @include transform(rotate(-180deg));
        }
      }
    }
  }

  & > h3 {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2 * $offset-base;
    margin: 0 $offset-base * -2;
    line-height: 48px;
    border-bottom: 1px solid $panel-divider-color;

    & + .panel_contents {
      margin-top: 2 * $offset-base;
    }

    .header_action {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: flex-end;

      a {
        @extend %nav-icon;

        margin-left: $offset-base;
      }
    }
  }

  table:not(.cb-aa-attributes-table) {
    @include table-constructor;
  }

  .section {
    & + .section {
      margin-top: 4 * $offset-base;

      &::before {
        display: block;
        margin-top: 2 * $offset-base;
        content: '';
      }
    }

    .section-title {
      position: relative;
      padding: $offset-base / 2 0;
      margin-bottom: 2 * $offset-base;
      overflow: hidden;
      color: $panel-section-title-text-color;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
      border-bottom: 1px solid $panel-section-title-border;
    }

    .section_contents {
      &::after,
      &::before {
        display: block;
        clear: both;
        content: '';
      }

      & > .tabs {
        margin-top: 2 * $offset-base;
      }
    }
  }

  .panel_contents {
    display: block;
    padding-bottom: 3 * $offset-base;
    overflow: scroll;
  }

  .tabs > .nav-tabs {
    @include tab-constructor;

    padding: 0;
    margin: 0 calc(-3 * #{$offset-base});
    border-bottom: 1px solid $panel-tabs-border-color;
  }
}
