@mixin placeholder(
  $color,
  $font_weight,
  $letter_spacing: null
) {
  ::-webkit-input-placeholder {
    color: $color !important;
    font-weight: $font_weight;
    letter-spacing: $letter_spacing;
  }
  /* Firefox 18- */
  :-moz-placeholder {
    color: $color !important;
    font-weight: $font_weight;
    letter-spacing: $letter_spacing;
  }

  /* Firefox 19+ */
  ::-moz-placeholder {
    color: $color !important;
    font-weight: $font_weight;
    letter-spacing: $letter_spacing;
  }

  /* Firefox 19+ */
  :-ms-input-placeholder {
    color: $color !important;
    font-weight: $font_weight;
    letter-spacing: $letter_spacing;
  }
}
