@mixin table-base {
  width: 100%;

  th {
    font-size: $p-fontsize;
    font-weight: $font-bold;
    color: $text-color-hint;
    text-transform: capitalize;

    &[class*='sorted'] a {
      color: $brand-primary;
    }

    &.sortable {

      &.sorted-asc a::after {
        content: '\E5C7';
      }

      &.sorted-desc a::after {
        content: '\E5C5';
      }

      &[class*='sorted-'] {
        color: $brand-primary;
      }

      a {
        position: relative;
        min-height: 20px;
        padding-right: $icon-size + $offset-base / 2;
        color: inherit;

        &::after {
          position: absolute;
          top: 50%;
          right: 0;
          font-family: $icon-font;
          font-size: $icon-size;
          line-height: 10px;
          @include transform(translateY(-50%));
        }
      }
    }
  }

  th,
  td {
    height: $table-row-height;
    padding: $offset-base;
    vertical-align: middle;
    box-sizing: border-box;

    &:first-child {
      padding-left: 2 * $offset-base;
    }

    &:last-child:not(.col-actions) {
      padding-right: 2 * $offset-base;
    }

    &.col-selectable,
    &.col-icon {
      width: $icon-size;
    }

    &.col-selectable .mdi-checkbox {
      height: 20px;
    }
  }

  tr.selected {
    background: $table-selected-row-bg;
  }

  thead,
  tbody tr {
    border-bottom: 1px solid $divider-color;
  }

  td.col-actions {
    flex-direction: row;
    text-align: right;

    a.dropdown_menu_button::after {
      color: $text-color-hint;
    }

    .table_actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      a.member_link {
        &:not(:last-child) {
          margin-right: $offset-base / 2;
        }
      }
    }
  }

  span.empty {
    color: $text-color-hint;
  }
}

@mixin table-constructor {
  @include table-base;

  overflow: auto;
  color: $text-color-secondary;
  text-align: left;
  white-space: nowrap;
  border: 0;
  border-collapse: collapse;
  border-radius: 0;
}
