@mixin tab-constructor {
  z-index: 111;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  height: $tab-height;
  padding: 0 2 * $offset-base;
  margin: 0 auto;
  overflow: hidden;
  overflow-x: scroll;
  border-bottom: 1px solid $divider-color;
  box-sizing: border-box;

  @include non-selectable;

  li {
    position: relative;
    flex-shrink: 0;
    justify-content: center;
    height: 100%;
    padding: 0 3 * $offset-base;
    overflow: hidden;
    line-height: $tab-height;
    color: $text-color-hint;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

    &.ui-tabs-active,
    &.selected {
      color: $brand-primary;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background: $brand-primary;
        content: '';
      }
    }

    a {
      height: 100%;
      font-weight: $font-bold;
      color: inherit;
    }
  }
}
