@mixin tab-constructor($color: $panel-bg) {
  z-index: 111;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  height: $tab-height;
  padding: 0 2 * $offset-base;
  margin: 0 auto;
  overflow: hidden;
  overflow-x: scroll;
  box-sizing: border-box;

  @include non-selectable;

  li {
    position: relative;
    flex-shrink: 0;
    justify-content: center;
    height: 100%;
    padding: 0 3 * $offset-base;
    overflow: hidden;
    line-height: $tab-height;
    color: adjust-tab-text-color($color);
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

    &.ui-tabs-active,
    &.selected {
      color: adjust-tab-text-color($color, $type: 'selected');

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: $tab-active-indicator-height;
        background: adjust-tab-text-color($color, $type: 'selected');
        content: '';
      }
    }

    a {
      height: 100%;
      font-weight: $font-bold;
      color: inherit;
    }
  }
}
