@mixin tab-constructor($color: $panel-bg, $height: $tab-height) {
  z-index: 111;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  height: $height;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  overflow-x: scroll;
  box-sizing: border-box;

  @include non-selectable;

  li {
    position: relative;
    flex-shrink: 0;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0 2 * $offset-base;
    overflow: hidden;
    line-height: $height;
    color: $tab-text-color;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;

    &.ui-tabs-active,
    &.selected {
      color: $tab-text-color-active;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: $tab-active-indicator-height;
        background: $tab-active-indicator-color;
        content: '';
      }
    }

    a {
      display: inline-block;
      height: 100%;
      padding: 0;
      font-size: $tab-fontsize;
      line-height: $height;
      color: inherit;
      white-space: nowrap;
      vertical-align: top;
    }
  }
}
