@mixin tinymce-constructor(
  $type:                   light,
  $icon_size:              24px,
  $border:                 $tinymce-border,
  $panel_bg:               $tinymce-header-panel-bg,
  $border_radius:          $tinymce-border-radius,
  $dropdown_bg:            $tinymce-dropdown-bg,
  $dropdown_item_shortcut: $tinymce-dropdown-item-shortcut-color,
  $dropdown_shadow:        $tinymce-dropdown-shadow
) {
  .mce-tinymce {
    width: 100%;
    border-radius: $border_radius;
    border: $border !important;
    color: get-text-color($panel_bg);
    overflow: hidden;
    &.mce-fullscreen { z-index: 3000; }
  }
  .mce-stack-layout-item { border: 0 !important; }
  .mce-toolbar-grp { padding: 0; }
  .mce-btn-group .mce-btn { margin: 0; }
  .mce-flow-layout { padding: $offset / 2 0; }
  .mce-flow-layout-item { margin: 0; }
  .mce-panel {
    border-color: get-divider-color($panel_bg);
    background: $panel_bg;
  }
  .mce-stack-layout {
    .mce-menu-item {
      display: flex;
      align-items: center;
      margin: 0;
      padding: $offset;
    }
  }
  .mce-colorbutton,
  .mce-splitbtn {
    .mce-open,
    .mce-open.mce-active {
      background: transparent;
      border: 0;
      outline: none;
      padding: 0;
      height: $icon_size;
      .mce-caret { margin: 0; }
    }
  }
  .mce-colorbutton .mce-preview {
    margin-left: -16px;
    margin-top: 8px;
    width: 21px;
    height: 4px;
  }
  .mce-widget,
  .mce-menubtn,
  .mce-flow-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .mce-btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > * {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .mce-menubar .mce-menubtn:hover,
  .mce-menubar .mce-menubtn.mce-active,
  .mce-menubar .mce-menubtn:focus {
    background: transparent;
    border-color: transparent;
    outline: none;
  }
  .mce-btn {
    padding: 0;
    background: transparent;
    &[aria-disabled="false"],
    &.mce-active,
    &.mce-active:hover {
      border: 1px solid transparent;
      background: transparent;
      i { color: $brand-primary; }
    }
    &:hover,
    &:focus {
      border: 1px solid transparent;
      background: transparent;
      i { color: $brand-primary; }
    }
    .mce-caret {
      margin: 0;
      margin-left: $offset;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $offset / 2;
    }
    i {
      text-shadow: none;
      color: get-text-color($panel_bg, $type:secondary);
    }
  }
  .mce-menu {
    background: $dropdown_bg;
    border: 0;
    z-index: 11 !important;
    @include box-shadow($dropdown_shadow);
    .mce-menu-item-sep { background: rgba(black, .1) !important; }
    .mce-menu-item {
      padding: $offset 2 * $offset;
      &.mce-selected,
      &:hover,
      &:focus {
        .mce-text,
        .mce-caret {
          color: get-text-color($dropdown_bg) !important;
        }
        .mce-caret { border-left-color: get-text-color($dropdown_bg) !important }
      }
      &.mce-selected,
      &:hover,
      &:focus {
        @if (lightness($dropdown_bg) > 50) {
          background: darken($dropdown_bg, $color-adjust-default);
        } @else {
          background: lighten($dropdown_bg, $color-adjust-default);
        }
      }
      .mce-menu-shortcut { color: $dropdown_item_shortcut; }
      .mce-ico { margin-right: $offset; }
      i { color: get-text-color($dropdown_bg, $type:secondary) !important; }
    }
  }
  .mce-active .mce-ico {
    &.mce-i-fullscreen:before { content: "fullscreen_exit" !important; }
  }
  .mce-wordcount {
    position: absolute;
    top: 0;
    right: 2 * $offset;
    padding: 0;
  }
  .mce-ico:not(.mce-i-resize) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $icon_size;
    height: $icon_size;
    &:before {
      font-size: 20px;
      font-weight: normal;
      display: flex;
      overflow: hidden;
      align-items: center;
      line-height: 1;
      @include icon-constructor($font_size: $icon_size);
    }
    &.mce-i-undo:before          { content: "chevron_left"; }
    &.mce-i-redo:before          { content: "chevron_right"; }
    &.mce-i-bold:before          { content: "format_bold"; }
    &.mce-i-italic:before        { content: "format_italic"; }
    &.mce-i-alignleft:before     { content: "format_align_left"; }
    &.mce-i-aligncenter:before   { content: "format_align_center"; }
    &.mce-i-alignright:before    { content: "format_align_right"; }
    &.mce-i-alignjustify:before  { content: "format_align_justify"; }
    &.mce-i-bullist:before       { content: "format_list_bulleted"; }
    &.mce-i-numlist:before       { content: "format_list_numbered"; }
    &.mce-i-outdent:before       { content: "format_indent_decrease"; }
    &.mce-i-indent:before        { content: "format_indent_increase"; }
    &.mce-i-underline:before     { content: "format_underlined"; }
    &.mce-i-superscript:before   { content: "vertical_align_top"; }
    &.mce-i-subscript:before     { content: "vertical_align_bottom"; }
    &.mce-i-strikethrough:before { content: "format_strikethrough"; }
    &.mce-i-code:before          { content: "code"; }
    &.mce-i-fullscreen:before    { content: "fullscreen"; }
    &.mce-i-image:before         { content: "photo"; }
    &.mce-i-remove:before        { content: "clear"; }
    &.mce-i-link:before          { content: "insert_link"; }
    &.mce-i-insert:before        { content: "add"; }
    &.mce-i-print:before         { content: "print"; }
    &.mce-i-preview:before       { content: "visibility"; }
    &.mce-i-media:before         { content: "theaters"; }
    &.mce-i-backcolor:before,
    &.mce-i-forecolor:before     { content: "format_color_text"; }
    &.mce-i-emoticons:before     { content: "insert_emoticon"; }
    &.mce-i-codesample:before    { content: "code"; }
    &.mce-i-removeformat:before  { content: "format_clear"; }
    &.mce-i-table:before         { content: "grid_on"; }
    &.mce-i-anchor:before        { content: "bookmark"; }
    &.mce-i-pagebreak:before     { content: "space_bar"; }
    &.mce-i-hr:before            { content: "remove"; }
    &.mce-i-charmap:before       { content: "gesture"; }
    &.mce-i-cut:before           { content: "content_cut"; }
    &.mce-i-copy:before          { content: "content_copy"; }
    &.mce-i-paste:before         { content: "content_paste"; }
    &.mce-i-newdocument:before   { content: "library_add"; }
    &.mce-i-selected:before      { content: "check"; }
  }
  .mce-btn-group:not(:first-child) {
    border-color: get-divider-color($panel_bg);
  }
  .mce-statusbar {
    background: white;
    height: 24px;
    .mce-flow-layout {
      height: 100%;
      box-sizing: border-box;
    }
  }
}
