@keyframes tooltip-animation {
  from {
    @include transform(perspective(1000px)rotate3d(1,0,0,90deg)scale(.5)translateY(0));
  }
  to {
    @include transform(perspective(1000px)rotate3d(1,0,0,0)scale(1));
  }
}
@-webkit-keyframes dropdown-animation {
  from {
    @include transform(perspective(1000px)rotate3d(1,0,0,90deg)scale(.5)translateY(0));
  }
  to {
    @include transform(perspective(1000px)rotate3d(1,0,0,0)scale(1));
  }
}

@mixin tooltip-constructor(
  $max_width: 120px,
  $bg_color: $tooltip-bg
) {
  position: absolute;
  display: block;
  font-size: $p-fontsize;
  opacity: 0;

  &.in     { opacity: 1; }
  &.top    { margin-top:  -#{$offset}; padding:  0; }
  &.right  { margin-left:  $offset; padding: 0 $offset; }
  &.bottom { margin-top:   $offset; padding: $offset 0; }
  &.left   { margin-left: -#{$offset}; padding: 0 $offset; }

  .tooltip-inner {
    max-width: $max_width;
    padding: $offset / 2 $offset;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    text-align: left;
    color: get-text-color($bg_color);
    background-color: $bg_color;
    border-radius: 2px;
    @include animation(tooltip-animation .2s);
    transform-origin: 50% 0;
    @include box-shadow($tooltip-shadow);
  }
}
