@function get-icon($key) {
  @return get-map-value($key, $icon-map);
}

%cb-aa-icon {
  display: inline-block;
  align-items: center;
  overflow: hidden;
  font-family: $icon-font;
  font-size: $icon-size;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  text-rendering: geometricPrecision;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  vertical-align: middle;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

[class*='mdi-aa-icon-']::before {
  @extend %cb-aa-icon;
}

$icon-map: (
  'add':                '\E145',
  'edit':               '\E254',
  'close':              '\E5CD',
  'arrow-right':        '\E315',
  'arrow-left':         '\E314',
  'arrow-up':           '\E316',
  'arrow-down':         '\E313',
  'arrow-back':         '\E5C4',
  'checkbox-unchecked': '\E835',
  'checkbox-checked':   '\E834',
  'search':             '\E8B6',
  'delete':             '\E872',
  'menu':               '\E5D2',
  'empty':              '\E156',
  'sorted-desc':        '\E5DB',
  'sorted-asc':         '\E5D8',
);

@each $_icon-name, $_icon-value in $icon-map {
  .mdi-aa-icon-#{$_icon-name}::before {
    content: $_icon-value;
  }
}
