.attributes_table {
  width: 100%;
  overflow: hidden;

  table {
    width: 100%;

    td,
    th {
      display: block;
      width: 100%;
      text-align: left;
    }

    tr {
      display: flex;
      padding: 2 * $offset-base 0;
    }

    th {
      display: block;
      width: 30%;
      font-size: $p-fontsize;
      font-weight: $font-bold;
      color: $text-color-secondary;
    }

    td {
      align-items: center;
      flex: 1;
      font-size: $h5-fontsize;
      color: $text-color-hint;
      white-space: nowrap;
      background: transparent;
      border: 0;
      outline: none;
      box-sizing: border-box;
    }
  }
}
