table.cb-aa-attributes-table {
  width: 100%;
  overflow: hidden;

  td,
  th {
    display: flex;
    width: 100%;
    padding: 2 * $offset-base 0;
    text-align: left;
  }

  tr {
    display: flex;

    &:not(:last-child) {
      border-bottom: 1px solid $attr-table-row-divider-color;
    }
  }

  th {
    width: 30%;
    font-size: $attr-table-th-fontsize;
    font-weight: $font-bold;
    color: $attr-table-th-text-color;
    text-transform: uppercase;
  }

  td {
    flex: 1;
    font-size: $attr-table-td-fontsize;
    color: $attr-table-td-text-color;
    white-space: nowrap;
    background: transparent;
    border: 0;
    outline: none;
    box-sizing: border-box;
  }

  span.empty {
    color: adjust-text-color($panel-bg, $type: 'hint');
  }
}
