.attributes_table {
  width: 100%;
  overflow: hidden;
  font-size: $p-fontsize;
  table tbody td {
    .image {
      width: 100%;
      height: auto;
      img {
        position: relative;
        max-width: 100%;
        height: auto;
        left: auto;
        top: auto;
        @include transform(none);
      }
    }
  }
  table,
  tbody,
  th,
  td,
  tr {
    float: left;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  table {
    th,
    td {
      padding: 0 !important;
      height: auto !important;
    }
    tr {
      padding: 3 * $offset;
      &:not(:last-child) { border-bottom: 1px solid $form-divider-color; }
      td .empty { color: get-text-color($panel-bg, $type:secondary); }
      th {
        color: get-text-color($panel-bg);
        font-weight: $font-bold;
        vertical-align: top;
        text-transform: capitalize;
        font-size: $label-fontsize;
        margin-bottom: $offset;
      }
    }
  }
}

@include mobile {
  .attributes_table {
    tr {
      padding-bottom: $offset;
      td, th { padding: $offset 0;  }
    }
  }
}
