form {
  ol,
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  select {
    @include input-select-constructor;
  }

  input {
    &[type='submit'] {
      @include button-constructor($color: $brand-primary);
    }
  }

  label.label {
    display: block;
    width: 100%;
    margin-bottom: $offset-base;
    font-size: $p-fontsize;
    font-weight: $font-bold;
    color: $text-color-secondary;

    abbr {
      &[title='required'] {
        margin-left: $offset-base / 2;
        color: $brand-danger;
        text-decoration: none;
        border: 0;
      }
    }
  }

  .input {
    padding: 2 * $offset-base;

    &.hidden {
      display: none;
    }

    &.error {
      label.label {
        color: $brand-danger;
      }
    }

    .inline-errors {
      margin-top: 2 * $offset-base;
      font-size: $p-fontsize;
      color: $brand-danger;
    }

    .inline-hints {
      margin-top: 2 * $offset-base;
      font-size: $p-fontsize;
      color: $text-color-secondary;
    }
  }

  .stringish {
    @include input-text-constructor;
  }

  .boolean {
    @include input-checkbox-constructor;
  }

  .text {
    @include input-textarea-constructor;
  }

  .actions {
    ol > li {
      float: right;
      width: auto;
    }
  }

  .cancel > a {
    @include button-constructor($color: $text-color-hint, $type: 'link');
  }
}
