%header-open {
  @include box-shadow($header-shadow);
  @include transform(translateX(0%));
}

#header {
  @extend %site-title-constructor;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  width: $header-width;
  overflow-y: scroll;
  color: $header-text-color;
  background: $header-bg;

  @include transform(translateX(-100%));
  @include transition(transform 0.2s linear);

  #sidebar-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: $titlebar-height;
    color: adjust-text-color($header-title-bg);
    cursor: pointer;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    &#tabs,
    &#utility_nav {
      padding: $offset-base 0;
    }

    li.current:not(.has_nested) > a {
      background: $header-menu-item-hover-bg;
    }
  }

  ul.header-item.tabs {
    & + ul {
      border-top: 1px solid $header-divider-color;
    }

    li {
      &.current > a {
        color: $header-menu-item-color-selected;
      }

      &.has_nested {
        & > a::after {
          @extend %cb-aa-icon;

          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 100%;
          content: get-icon('arrow-down');

          @include transition(all 0.2s ease-in-out);
        }

        &.sub-menu-active {
          & > a::after {
            @include transform(rotate(180deg));
          }

          ul {
            height: auto;
          }
        }

        ul {
          height: 0;
          overflow: hidden;

          li i {
            visibility: hidden;
          }
        }
      }

      a {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-grow: 0;
        height: $header-menu-item-height;
        padding: 0 $header-icon-padding;
        padding-right: 48px;
        overflow: hidden;
        font-size: $p-fontsize;
        line-height: $header-menu-item-height;
        color: $header-text-color;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          background: $header-menu-item-hover-bg;
        }

        span {
          overflow: hidden;
          text-overflow: ellipsis;

          &.menu-title {
            display: flex;
            flex: 1;
          }

          &.mdi-chip {
            margin-left: $offset / 2;
          }
        }

        i {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: $header-icon-padding;
          height: $header-menu-item-height;
          font-size: $icon-size;
        }
      }
    }
  }

  .cb-aa-badge {
    @include badge-constructor($header-badge-bg);
  }
}
