.table_tools {
  position: fixed;
  top: $titlebar-height;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: $nav-tabs-height;
  padding: 0 2 * $offset-base;
  background: $nav-tabs-bg;

  .dropdown_menu_button {
    @include button-constructor($size: 'sm');
  }

  .table_tools_segmented_control {
    @include tab-constructor($color: $nav-tabs-bg);

    justify-content: center;
  }

  .scope {
    &.selected {
      span.count {
        @include badge-constructor($color: adjust-tab-text-color($nav-tabs-bg, $type: 'selected'), $type: 'active');
      }
    }

    span.count {
      @include badge-constructor($color: adjust-tab-text-color($nav-tabs-bg, $type: 'selected'));

      margin-left: $offset-base;
    }
  }
}
