%title_bar-has-tab {
  border-bottom: 1px solid $titlebar-divider-color;
  @include box-shadow(none);
}

#title_bar {
  @include navbar-constructor($bg: $titlebar-bg, $nav-btn-color: $titlebar-btn-color);
  @include box-shadow($titlebar-shadow);

  #sidebar-toggle {
    @extend %nav-switcher;
  }


  #titlebar_left {
    align-items: center;
    // flex: 1 1 auto;
    flex-direction: row;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #titlebar_right {
    // flex: 0 0 auto;
    justify-content: flex-end;
    padding: 0 2 * $offset-base;
    text-align: right;

    .action_item {
      margin-left: $offset-base;
    }

    .action_items {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  #titlebar_center {
    flex-direction: column;
    justify-content: center;
    text-align: center;

    #page_title {
      margin-top: $offset-base / 2;
      color: $titlebar-page-title-text-color;
    }

    .breadcrumb,
    .breadcrumb span,
    .breadcrumb a {
      font-size: $titlebar-breadcrumb-fontsize;
      font-weight: normal;
      text-transform: uppercase;
    }

    .breadcrumb a {
      color: $titlebar-breadcrumb-text-color;
    }

    .breadcrumb > * {
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
    }

    .breadcrumb_sep {
      color: $titlebar-breadcrumb-text-color;
    }
  }

  .titlebar-section {
    display: flex;
    flex: 1;
  }
}
